/* ---------------------------------
 *            Page Footer
 * --------------------------------- */
footer.footer
    .level-start
        +mobile()
            text-align: center

    .level-end
        //color: #181818 // 添加文字颜色
        //background-color: #3a3a3a
        .field
            flex-wrap: wrap
            align-items: center

            +mobile()
                justify-content: center
                margin-top: 1rem

            a
                color: #55aaff  // 添加链接颜色
                &:hover
                    color: #77bbff  // 添加链接悬停颜色

.footer-logo
    img
        max-height: $logo-height
