/* ---------------------------------
 *           Pagination
 * --------------------------------- */
.pagination
    @extend .pagination.is-centered
    margin-top: 1.5rem
    background-color: #1e1e1e

    .pagination-previous,
    .pagination-next,
    .pagination-link
        background-color: #1e1e1e
        color: #e4e4e4
        border-color: #333

        &:hover
            color: #55aaff
            background-color: #2c2c2c
            border-color: #55aaff

    .pagination-link
        &.is-current
            background-color: #55aaff
            border-color: #55aaff
            color: #ffffff

            &:hover
                background-color: #77bbff
                border-color: #77bbff

.post-navigation
    color: $post-navigation-fg
    flex-wrap: wrap
    justify-content: space-around
    .level-item
        margin-bottom: 0
